    /**********************************************************************************************
    IMAGE BUTTON
    ***********************************************************************************************/
    .linkButtonPanel {
        background: url("link-button-22.png") no-repeat;
        width: 90px;
        height: 22px;
        font-family: Verdana, Bitstream Vera Sans, sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        line-height: 20px;
        text-decoration: none;
        color: #000000 !important;
        cursor: pointer;
        overflow: hidden;
        display: table-cell;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        outline: 0;
    }

    .linkButtonOver {
        background-position: 0px -22px;
    }

    .linkButtonDown {
        background-position: 0px -44px;
    }

    .linkButtonDisabled {
        background-position: 0px -66px;
        color: #AAAAAA !important;
    }

    .linkButtonHidden {
        display: none;
    }