/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
.exo-code-error-mark {
    /* gwt-image: "codeErrorMark"; */
    /* background: transparent url('images/code-error-mark.png') no-repeat scroll center center;  */
    background-image: url("images/code-error-mark.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    cursor: pointer;
    width: auto;
    height: auto;
}

.exo-code-mark-warning {
    /* gwt-image: "markWarning"; */
    /* background: transparent url('images/code-error-mark.png') no-repeat scroll center center;  */
    background-image: url("images/mark-warning.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: scroll;
    cursor: pointer;
    width: auto;
    height: auto;
}

.exo-code-mark-error {
    /* gwt-image: "markError"; */
    /* background: transparent url('images/code-error-mark.png') no-repeat scroll center center;  */
    background-image: url("images/mark-error.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: scroll;
    cursor: pointer;
    width: auto;
    height: auto;
}

.exo-code-mark-breakpoint {
    /* gwt-image: "breakpoint"; */
    background-image: url("images/breakpoint.gif");
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: scroll;
    cursor: pointer;
    width: auto;
    height: auto;
    margin-left: 5px;
}

.exo-code-mark-breakpoint-current {
    /* gwt-image: "breakpointCurrent"; */
    background-image: url("images/braekpoint-current.gif");
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: scroll;
    cursor: pointer;
    width: auto;
    height: auto;
    margin-left: 5px;
}

.overview-panel {
    background-color: #eee;
}

.overview-mark-error {
    background-color: #e4a5c5;
    border-width: 1px;
    border-style: solid;
    border-color: #f82c92;
    width: 7px;
    height: 3px;
    cursor: pointer;
}

.overview-bottom-mark-error {
    background-color: #e4a5c5;
    border-width: 1px;
    border-style: solid;
    border-color: #f82c92;
    width: 7px;
    height: 6px;
    cursor: pointer;
}

.overview-mark-warning {
    background-color: #fcf1ca;
    border-width: 1px;
    border-style: solid;
    border-color: #f6d357;
    width: 7px;
    height: 3px;
    cursor: pointer;
}

.overview-bottom-mark-warning {
    background-color: #fcf1ca;
    border-width: 1px;
    border-style: solid;
    border-color: #f6d357;
    width: 7px;
    height: 6px;
    cursor: pointer;
}
