@CHARSET "UTF-8";

@url check checkIcon;
@url empty emptyIcon;

.menuHorizontal .checkedToolbarItem {
	background: keyboardSelectionBackgroundColor;
}

.menuHorizontal .uncheckedToolbarItem {
	background-color: transparent;
}

.menuVertical .checkedToolbarItem span:BEFORE {
	content: check " ";
}

.menuVertical .uncheckedToolbarItem span:BEFORE {
	content: empty " ";
}

.menuVertical .toolbarItem span:BEFORE {
	content: empty " ";
}

.menuHorizontal .disable {
	opacity: 0.5;
}

.menuHorizontal .enable {
	opacity: 1;
}