<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <display-name>git-server</display-name>
   <servlet>
      <servlet-name>GitServlet</servlet-name>
      <servlet-class>org.eclipse.jgit.http.server.GitServlet</servlet-class>
      <init-param>
         <param-name>base-path</param-name>
         <param-value>${org.exoplatform.ide.git.repo-dir}/git</param-value>
      </init-param>
      <init-param>
         <param-name>export-all</param-name>
         <param-value>1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>GitServlet</servlet-name>
      <url-pattern>/private/jcr/*</url-pattern>
   </servlet-mapping>
</web-app>
