/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

.lineNumber {
    font-family: "DejaVu Sans Mono", alternativeFontFamily;
    /*font-weight: 600;*/
    font-size: 12px;
    right: 0px;
    position: absolute;
    color: #888888;
}

.animationEnabled .lineNumber {
    -moz-transition-duration: 0.10s;
    -moz-transition-timing-function: ease-in;
    -moz-transition-property: top, left, bottom, right, height, width;
    -webkit-transition-duration: 0.10s;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-property: top, left, bottom, right, height, width;
    transition-duration: 0.10s;
    transition-timing-function: ease-in;
    transition-property: top, left, bottom, right, height, width;
}

.activeLineNumber {
    /*color: #333333;*/
}

.scrollable {
}

.activeline {
    background: editorCurrentLineColor !important;
}