body {
	margin: 0px 0px 0px 0px;
}

/**********************************************************************************************
BLANK IMAGE
***********************************************************************************************/
.exo-blank
{
	width:1px;
	height:1px;
}

.exo-lockLayer
{
 	background: url("blank.png") repeat;
}

/**********************************************************************************************
MENU BAR
***********************************************************************************************/

.exo-menuBarTable
{
}

.exo-menuBar,
.exo-menuBarItem,
.exo-menuBarItemOver,
.exo-menuBarItemSelected,
.exo-menuBarItemDisabled
{
	height: 20px;
}

.exo-menuBarItem,
.exo-menuBarItemOver,
.exo-menuBarItemSelected,
.exo-menuBarItemDisabled
{
	padding-left: 8px;
	padding-right: 8px;
	cursor: default;	
	
	font-family:Verdana, Bitstream Vera Sans, sans-serif;
    font-size:11px;
    font-weight: normal;
    font-style: normal;
}

.exo-menuBar
{
	width:100%;
	background: #FFFFFF url(menuBar/menuBarBackground.png) repeat-x;
}

.exo-menuBarItem {
	color:#333333;
}

.exo-menuBarItemOver {
	color:#333333;
	background-image: url("menuBar/menuBarItemOver.png");
}

.exo-menuBarItemSelected {
	color:#333333;
	background-image: url("menuBar/menuBarItemSelected.png");
}

.exo-menuBarItemDisabled {
	color:#AAAAAA;
}


/**********************************************************************************************
POPUP MENU
***********************************************************************************************/

.exo-popupMenuMain
{
    background:#FFFFFF url(popupMenu/menu_background3.png) repeat-y scroll;
	position:relative;
}

.exo-popupMenuTable
{
    border: 1px solid #93A9C0;
	font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    position:relative;
    left:0px;
    top:0px;
}

.exo-popupMenuCheckField,
.exo-popupMenuCheckFieldOver,
.exo-popupMenuCheckFieldDisabled,
.exo-popupMenuIconField,
.exo-popupMenuTitleField,
.exo-popupMenuHotKeyField,
.exo-popupMenuSubMenuField,
.exo-popupMenuIconFieldOver,
.exo-popupMenuTitleFieldOver,
.exo-popupMenuHotKeyFieldOver,
.exo-popupMenuSubMenuFieldOver,
.exo-popupMenuIconFieldDisabled,
.exo-popupMenuTitleFieldDisabled,
.exo-popupMenuHotKeyFieldDisabled,
.exo-popupMenuSubMenuFieldDisabled,
.exo-popupMenuDelimiter
{
	height:22px;
	cursor: default;	
	font-family:Verdana, Bitstream Vera Sans, sans-serif;
    font-size:11px;
    font-weight: normal;
    font-style: normal;
}

.exo-popupMenuCheckField,
.exo-popupMenuCheckFieldOver,
.exo-popupMenuCheckFieldDisabled
{
	width:9px;
	padding-right:4px;
}

.exo-popupMenuIconField,
.exo-popupMenuIconFieldOver,
.exo-popupMenuIconFieldDisabled
{
	width:23px;
	padding-left:4px;
	padding-right:1px; 
}

.exo-popupMenuTitleField
 {
    color:#333333;
	padding-top:2px;
	padding-bottom:2px;    
}

.exo-popupMenuHotKeyField
{
}

.exo-popupMenuSubMenuField,
.exo-popupMenuSubMenuFieldOver,
.exo-popupMenuSubMenuFieldDisabled
{
	width:10px; 
}

.exo-popupMenuHotKeyField,
.exo-popupMenuHotKeyFieldOver,
.exo-popupMenuHotKeyFieldDisabled
{
	width:10px;
	padding-left:6px;
	padding-right:6px;
}

.exo-popupMenuCheckFieldOver,
.exo-popupMenuIconFieldOver,
.exo-popupMenuTitleFieldOver,
.exo-popupMenuHotKeyFieldOver,
.exo-popupMenuSubMenuFieldOver
{
	background:#FFFFFF url(popupMenu/menu_rollover.png) repeat-x scroll 0px 1px;
}

.exo-popupMenuIconFieldDisabled,
.exo-popupMenuTitleFieldDisabled,
.exo-popupMenuHotKeyFieldDisabled,
.exo-popupMenuSubMenuFieldDisabled
{
	color:#AAAAAA;	
}

.exo-popupMenuSubMenuImage
{
	width:7px;
	height:7px;
}

.exo-popupMenuDelimiter
{
	padding-left: 4px;
	padding-right: 4px;
}

/**********************************************************************************************
TOOL BAR
***********************************************************************************************/

/*
TOOLBAR PANEL
*/
.exo-toolbar16Panel
{
	width:100%;
	background: #FFFFFF url(toolbar/toolbarBackground.png) repeat-x;
	overflow: hidden;
	height:32px;
}

.exo-toolbar16ButtonsPanel
{
	width:100%;
	margin-top:4px;
	height:28px;
}

.exo-toolbar16ButtonPanel_LeftHidden,
.exo-toolbar16ButtonPanel_RightHidden
{
	overflow: hidden;
	height:24px;
	width:0px;
}

.exo-toolbar16ButtonPanel_LeftHidden
{
	float:left;
}

.exo-toolbar16ButtonPanel_RightHidden
{
	float:right;
}

.exo-toolbar16ButtonPanel_Left,
.exo-toolbar16ButtonPanel_Right,
.exo-toolbar16Button,
.exo-toolbar16ButtonOver,
.exo-toolbar16ButtonDown
{
	width:24px;
	height:24px;
}

.exo-toolbar16Delimiter_LeftHidden,
.exo-toolbar16Delimiter_RightHidden
{
	overflow: hidden;
	width:0px;
}

.exo-toolbar16Delimiter_LeftHidden
{
	float: left;
}

.exo-toolbar16Delimiter_RightHidden
{
	float: right;
}

.exo-toolbar16Delimiter_Left,
.exo-toolbar16Delimiter_Right
{
	width:1px;
}

/*
LEFT DOCKED BUTTON, DELIMITER
*/
.exo-toolbar16ButtonPanel_Left,
.exo-toolbar16Delimiter_Left
{
	padding-left: 4px;
	float: left;
}

/*
RIGHT DOCKED BUTTON, DELIMITER
*/
.exo-toolbar16ButtonPanel_Right,
.exo-toolbar16Delimiter_Right
{
	padding-right: 4px;
	float: right;
}

/*
SPACER
*/
.exo-toolbar16SpacerPanel
{
	float: left;
}

/*
TOOLBAR BUTTONS
*/

.exo-toolbar16Button,
.exo-toolbar16ButtonOver,
.exo-toolbar16ButtonDown
{
}

.exo-toolbar16ButtonOver
{
	background: url(toolbar/buttonOver.png) no-repeat;
}

.exo-toolbar16ButtonDown
{
	background: url(toolbar/buttonDown.png) no-repeat;
}

/*
TOOLBAR ICON
*/

.exo-toolbar16Icon
{
	width:16px;
	height:16px;
	margin: 4px;
}


/*
CUSTOMIZE TOOLBAR
*/
.exo-customizeToolbar-delimiter,
.exo-customizeToolbar-spacer,
.exo-customizeToolbar-commandGroup
{
	width:10px;
	font-family:Verdana, Bitstream Vera Sans, sans-serif;
    font-size:11px;
    font-weight: normal;
    font-style: normal;	
}

.exo-customizeToolbar-delimiter
{
	color:blue;
}

.exo-customizeToolbar-spacer
{
	color:red;
}

.exo-customizeToolbar-commandGroup
{
	color:#333333;
}

/**********************************************************************************************
SHADOW
***********************************************************************************************/

.exo-shadowTable
{
	width:100%;
	height:100%;
	
}

.exo-shadowLT,
.exo-shadowT,
.exo-shadowRT,
.exo-shadowL,
.exo-shadowCenter,
.exo-shadowR,
.exo-shadowLB,
.exo-shadowB,
.exo-shadowRB
{
}

.exo-shadowLT
.exo-shadowT,
.exo-shadowRT,
.exo-shadowLB,
.exo-shadowB,
.exo-shadowRB
{
	height:6px;
}

.exo-shadowLT,
.exo-shadowRT,
.exo-shadowL,
.exo-shadowR,
.exo-shadowLB,
.exo-shadowRB
{
	width:6px;
}

.exo-shadowCenter
{
	height:100%;
}

.exo-shadowRT
{
	background: url(shadow/shadow_RT.png);
}

.exo-shadowR
{
	background: url(shadow/shadow_R.png) repeat-y;
}

.exo-shadowRB
{
	background: url(shadow/shadow_RB.png);
}

.exo-shadowLB
{
	background: url(shadow/shadow_LB.png);
}

.exo-shadowB
{
	background: url(shadow/shadow_B.png) repeat-x;
}
