<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>IDE</display-name>
	<context-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.exoplatform.ide.vfs.server.MockVfsApplication</param-value>	
	</context-param>
	<listener>
		<listener-class>org.everrest.core.servlet.EverrestInitializedListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>EverrestServlet</servlet-name>
		<servlet-class>org.everrest.core.servlet.EverrestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EverrestServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
   
   <mime-mapping>                                                                                                                                                                                           
    <extension>js</extension>                                                                                                                                                                                
    <mime-type>application/javascript</mime-type>                                                                                                                                                           
   </mime-mapping>
</web-app>
