.exoToolbarPanel {
    width: 100%;
    background: url(images/component/toolbar/toolbar_Background.png) repeat-x;
    height: 32px;
    cursor: default;
}

.exoToolbarElementLeft,
.exoToolbarElementRight {
    height: 24px;
    padding-top: 4px;
}

.exoToolbarElementLeft {
    float: left;
    padding-left: 4px;
}

.exoToolbarElementRight {
    float: right;
    padding-right: 4px;
}

.exoToolbarDelimiter {
    width: 1px;
    height: 24px;
    background: url(images/component/toolbar/delimiter.png);
}
