.checkBox {
    font-size: 11px;
    font-family: Verdana, Bitstream Vera Sans, sans-serif;
}

.checkBoxDisabled {
    color: #AAA;
}

.checkBoxTitleLeft {
    float: left;
}

.radioButton {
    font-size: 11px;
    font-family: Verdana, Bitstream Vera Sans, sans-serif;
}

.radioButtonDisabled {
    color: #AAA;
}

.textBox {
    float: left;
    border-color: #ABADB3 #DBDFE5 #DBDFE5;
    border-style: solid;
    border-width: 1px;
}

.textBoxFocused {
    border-color: #5678AC #AFC6E2 #C0D7EC #BCCDE6;
    border-style: solid;
    border-width: 1px;
}

.textBoxDisabled {
    border-color: #AAA;
    border-style: solid;
    border-width: 1px;
}

.transparent {
    opacity: 0;
}

    /* Loader */

.loaderBackground {
    width: 100%;
    height: 100%;

    /*
    opacity: 0.3;
    background-color: #000000;
    */
    border: 0 none;
    padding: 0;
    font-size: 11px;
    font-family: Verdana, Bitstream Vera Sans, sans-serif;
}

@sprite .loaderCenteredContent {
    width: 230px;
    height: 90px;
    position: absolute;
    margin-left: -115px;
    margin-top: -70px;
    top: 50%;
    left: 50%;
    text-align: center;
    gwt-image: 'loaderBackground';
}

.loaderImage {
    margin-top: 20px;
    margin-bottom: 10px;
}