@CHARSET "UTF-8";

.textInput {
    font-size: 12px;
    font-family: Verdana, Bitstream Vera Sans, sans-serif;
    display: table;
}

.textInputDisabled {
    color: #AAA;
}

.textInputWithTopTitle {
    clear: left;
}

.textInputTitle {
    white-space: nowrap;
    font-size: 11px;
    visibility: visible;
}

.textInputTitleHidden {
    visibility: hidden;
    display: none;
}

.textInputTitleTop {
    margin-bottom: 4px;
    float: left;
    height: 14px;
}

.textInputTitleLeft {
    margin-right: 5px;
    float: left;
}

.textInputTitleRight {
    width: 100%;
    margin-left: 5px;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}

.textAlignCenter {
    text-align: center;
}