/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

.toolbarPanel {
    width: 100%;
    /*background: url(images/component/toolbar/toolbar_Background.png) repeat-x;*/
    height: 26px;
    cursor: default;
    background-color: toolbarBackgroundColor;
    border-top: 1px solid tabBorder;
    border-bottom: 1px solid tabBorder;
}

.toolbarPanel div {
	margin-top: 1px;
    margin-left: 2px;
    float: left;
}

.toolbarDelimiter {
    width: 1px;
    height: 24px;
    /*background: url(images/component/toolbar/delimiter.png);*/
    border-left: 1px solid tabBorder;
}

.iconButtonPanel,
.iconButtonPanelOver,
.iconButtonPanelDown,
.iconButtonPanelSelected,
.iconButtonPanelSelectedOver,
.iconButtonPanelSelectedDown {
    width: 22px;
    height: 22px;
    overflow: hidden;
    /*background: url(IDE/button-background.png);*/
}

.iconButtonPanel {
    /*background-position: 0px 0px;*/
    border: 1px solid transparent;
}

.iconButtonPanelOver {
    border-radius: 2px;
    border: 1px solid tabBorder;
    /*background-position: 0px -24px;*/
}

.iconButtonPanelDown {
    /*background-position: 0px -48px;*/
    border-radius: 4px;
    border: 1px solid tabBorder;
    background-color: hoverBackgroundColor;
}

.iconButtonPanelSelected {
    border-radius: 4px;
    border: 1px solid tabBorder;
    background-color: hoverBackgroundColor;
}

.iconButtonPanelSelectedOver {
    border-radius: 4px;
    border: 1px solid tabBorder;
    background-color: hoverBackgroundColor;
}

.iconButtonPanelSelectedDown {
    border-radius: 4px;
    border: 1px solid tabBorder;
    background-color: hoverBackgroundColor;
}

.iconButtonIcon {
    width: toolbarIconSize;
    height: toolbarIconSize;
    margin: 3px;
}

svg.iconButtonIcon {
    width: toolbarIconSize;
    height: toolbarIconSize;
    fill: toolbarIconColor; 
}

.disabled {
    opacity: 0.6;
}

.popupButtonPanel,
.popupButtonPanelOver,
.popupButtonPanelDown {
    height: 22px;
    width: 30px;
    overflow: hidden;
    border: 1px solid transparent;
}

.popupButtonPanel {
    background-position: 0px 0px;
}

.popupButtonPanelOver {
    border-radius: 2px;
    border: 1px solid tabBorder;
}

.popupButtonPanelDown {
    border-radius: 4px;
    border: 1px solid tabBorder;
    background-color: hoverBackgroundColor;
}

.popupButtonIcon {
    width: toolbarIconSize;
    height: toolbarIconSize;
    margin-top: 3px;
    margin-left: 3px;
}

svg.popupButtonIcon {
    width: toolbarIconSize;
    height: toolbarIconSize;
    fill: toolbarIconColor;
    margin-right: 2px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    position: absolute;
    top: 50%;
}

