@CHARSET "UTF-8";

@url check checkIcon;
@sprite .toolbarHorizontal{
    /*background: url("toolbar-background.png") repeat-x scroll 0 0 #FFFFFF !important;*/
    gwt-image: 'toolbarBackground';
    border-bottom: 1px solid tabBorder;
}

.menuVertical .itemContainer {
    position: relative;
}

.menuVertical .itemIcon {
    position: absolute;
    left: 2px;
    top: 2px;
    height: 16px;
    width: 16px;
}

.menuVertical .checkedItem .itemTitle:BEFORE {
    position: absolute;
    left: 21px;
    content: check;
}

.menuVertical .itemContainer .itemTitle {
    margin-left: 31px;
}

.menuVertical .itemContainer .hotKey {
    float: right;
    margin-left: 30px;
    color: #999;
}