@def arrowTop 21px;
.alignBtn {
    float: right;
    margin-right: 17px;
}

.space {
    margin-right: 21px;
}

.buttons {
    margin-top: 8px;
}
.centralPage {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonPanel{
    background-color: windowHeaderBackground;
    border-top: 1px solid tabBorder;
}

.stepsPanel{
    background-color: stepsPanelColor;
    border-right: 1px solid stepsPanelBorerColor;
    /*width: 100%;*/
    height: 100%;
}
.arrow_box {
    position: absolute;
    background: windowContentBackground;
    border: 1px solid stepsPanelBorerColor;
    right: -1px;
    top: arrowTop;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(55, 55, 55, 0);
    border-right-color: windowContentBackground;
    border-width: 9px;
    margin-top: -9px;
}
.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: stepsPanelBorerColor;
    border-width: 10px;
    margin-top: -10px;
}