@CHARSET "UTF-8";

@def tabBorder #D0D0D0; /* @def activeTabBackground #F8F8F8; */
@def inactiveTabBackground #F0F0F0;
@def activeTabBackground #FFFFFF;
@def tabsPanelBackground #DDDDDD;
@def highlightFocus #FFB800;
.ide-PartStack { /* fill */
	height: 100%;
	width: 100%;
}

.ide-PartStack .ide-PartStack-Tabs {
	/* panel where tab-buttons created*/
	background: tabsPanelBackground;
	border-bottom: 1px solid tabBorder;
}

.ide-PartStack .ide-PartStack-Content { /* content panel */
	border: 2px solid activeTabBackground;
	background-color: activeTabBackground;
}

.ide-PartStack .ide-PartStack-Tab { /* tab button */
	margin-left: 3px;
	margin-top: 3px;
	background: inactiveTabBackground;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border: 1px solid tabBorder;
	padding: 3px;
	cursor: pointer;
	cursor: hand;
	position: relative;
	display: inline-block;
	height: 15px;
}

.ide-PartStack .ide-PartStack-Tab span {
	/* margin between text and image */
	margin-right: 4px;
	margin-left: 4px;
}

.ide-PartStack .ide-PartStack-Tab img {
	vertical-align: middle;
}

.ide-PartStack .ide-PartStack-Tab .CloseButton {
	/* change cursor for close button */
	cursor: default;
	opacity: 0.5;
	vertical-align: top;
}

.ide-PartStack .ide-PartStack-Tab .CloseButton:hover { /* hihglight on hover */
	opacity: 1;
}

.ide-PartStack .ide-PartStack-Tab-selected {
	/* tab that is currently selected (active) */
	cursor: default;
	font-weight: bold;
	padding: 3px;
	border-bottom: 2px solid activeTabBackground;
	background: activeTabBackground;
}

.ide-PartStack-focused {
	
}

.ide-PartStack-focused .ide-PartStack-Content {
	border: 2px solid highlightFocus;
}

.ide-PartStack-focused .ide-PartStack-Tab-selected {
	background: highlightFocus;
	border-bottom: 2px solid highlightFocus;
}