<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:widget="http://www.netvibes.com/ns/">
    <head>
    <meta name="author" content="John Doe" />
    <meta name="description" content="A descriptive description" />
    <meta name="apiVersion" content="1.0" />
    <meta name="autoRefresh" content="20" />
    <meta name="debugMode" content="true" />
    <link rel="stylesheet" type="text/css"
       href="http://www.netvibes.com/themes/uwa/style.css" />
    <script type="text/javascript"
       src="http://www.netvibes.com/js/UWA/load.js.php?env=Standalone"></script>
    <title>Title of the Widget</title>
    <link rel="icon" type="image/png"
      href="http://www.example.com/favicon.ico" />
<!-- Add your UWA preferences as needed -->
    <widget:preferences>
    </widget:preferences>
    <style type="text/css">
        /* Add your CSS rules */ 
    </style>

    <script type="text/javascript">
// this is just some sample code
// you should delete it all to place your own code instead

      // this is how you would declare a global JS object
     var YourWidgetName = {};

      // this is how you would declare a global JS variable
     YourWidgetName.yourVariable = "My value";

      // this is how you would declare a global 'display()' function
     YourWidgetName.display = function(argument) {
        // display code
     }

      // widget.onLoad is the first method called,
      // nothing can be done without it,
      // the rest of the code must be triggered from here - not <body onload="">.
      widget.onLoad = function() {
        // sample Ajax request for a feed, with 'YourWidgetName.display()' used as the callback method
        UWA.Data.getFeed(widget.getValue('url'), YourWidgetName.display);
      }
    </script>
  </head>
  <body>
    <p>Hello world!</p>
  </body>
</html>
