@CHARSET "UTF-8";

.ide-Wizard .alignBtn {
	float: right;
}

.ide-Wizard .backBtn {
	position: relative;
	height: 30px;
	width: 20px;
	top: 50%;
}

.ide-Wizard .nextBtn {
	position: relative;
	height: 30px;
	width: 20px;
	top: 50%;
}