/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

/**********************************************************************************************
    MENU BAR
***********************************************************************************************/

.menuBarTable {
}

.menuBar,
.menuBarItem,
.menuBarItemOver,
.menuBarItemSelected,
.menuBarItemDisabled {
    height: 25px;
}

.menuBarItem,
.menuBarItemOver,
.menuBarItemSelected,
.menuBarItemDisabled {
    padding-left: 8px;
    padding-right: 8px;
    cursor: default;

    font-family: mainFontFamily;
    font-size: secondaryTextFontSize;
    font-weight: normal;
    font-style: normal;
}

.menuBar {
    width: 100%;
    background-color: tabsPanelBackground;
    /*background: -moz-linear-gradient(top, rgba(192,195,199,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 16%, rgba(221,221,221,1) 79%, rgba(221,221,221,1) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,195,199,1)), color-stop(5%,rgba(255,255,255,1)), color-stop(16%,rgba(255,255,255,1)), color-stop(79%,rgba(221,221,221,1)), color-stop(100%,rgba(221,221,221,1))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(192,195,199,1) 0%,rgba(255,255,255,1) 5%,rgba(255,255,255,1) 16%,rgba(221,221,221,1) 79%,rgba(221,221,221,1) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: linear-gradient(to bottom, rgba(192,195,199,1) 0%,rgba(255,255,255,1) 5%,rgba(255,255,255,1) 16%,rgba(221,221,221,1) 79%,rgba(221,221,221,1) 100%); *//* W3C */
}

.menuBarItem {
    color: #333333;
}

.menuBarItemOver {
    color: #333333;
    /*background: -moz-linear-gradient(top, rgba(192,195,199,1) 0%, rgba(242,252,255,1) 5%, rgba(230,248,255,1) 26%, rgba(178,215,255,1) 79%, rgba(178,215,255,1) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,195,199,1)), color-stop(5%,rgba(242,252,255,1)), color-stop(26%,rgba(230,248,255,1)), color-stop(79%,rgba(178,215,255,1)), color-stop(100%,rgba(178,215,255,1))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(192,195,199,1) 0%,rgba(242,252,255,1) 5%,rgba(230,248,255,1) 26%,rgba(178,215,255,1) 79%,rgba(178,215,255,1) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: linear-gradient(to bottom, rgba(192,195,199,1) 0%,rgba(242,252,255,1) 5%,rgba(230,248,255,1) 26%,rgba(178,215,255,1) 79%,rgba(178,215,255,1) 100%); *//* W3C */
}

.menuBarItemSelected {
    color: #333333;
    /*background: -moz-linear-gradient(top, rgba(192,195,199,1) 0%, rgba(178,215,255,1) 5%, rgba(234,250,255,1) 63%, rgba(242,252,255,1) 79%, rgba(242,252,255,1) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,195,199,1)), color-stop(5%,rgba(178,215,255,1)), color-stop(63%,rgba(234,250,255,1)), color-stop(79%,rgba(242,252,255,1)), color-stop(100%,rgba(242,252,255,1))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(192,195,199,1) 0%,rgba(178,215,255,1) 5%,rgba(234,250,255,1) 63%,rgba(242,252,255,1) 79%,rgba(242,252,255,1) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: linear-gradient(to bottom, rgba(192,195,199,1) 0%,rgba(178,215,255,1) 5%,rgba(234,250,255,1) 63%,rgba(242,252,255,1) 79%,rgba(242,252,255,1) 100%); *//* W3C */
    background-color: selectionBackground;
}

.menuBarItemDisabled {
    color: #AAAAAA;
}
