/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
@external .gwt-SplitLayoutPanel-HDragger, .gwt-SplitLayoutPanel-VDragger, .hsplitter, .hsplitter, .gwt-DialogBox, gwt-Button,
          gwt-PushButton-up,gwt-PushButton-up-hovering,gwt-PushButton-up-disabled,
          gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled, gwt-ToggleButton-up, gwt-ToggleButton-up-hovering, gwt-ToggleButton-up-disabled,
          gwt-ToggleButton-down, .gwt-ToggleButton-down-hovering, .gwt-ToggleButton-down-disabled, gwt-TextBox;

    /* Global styles and external GWT styles. */

    body, td {
        font-size: 13px;
        font-family: mainFontFamily;
        color: mainFontColor;

        /* We turn off document level scrolling all together for the outer page. */
        overflow: hidden;
        /*background-color: partBackground;*/
    }

        /* We must override the user agent stylesheet which sets textarea font to monospace. */
    textarea {
        font-family: mainFontFamily;
        color: mainFontColor;
        background-color: inputBackground;
        border: 1px solid tabBorder;
        border-radius: 2px;
        font-size: fontSize;
    }

.gwt-RadioButton label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 23px;
    margin-right: 15px;
    height: 18px;
    font-weight: bold;
}
.gwt-RadioButton input[type=radio] {
    display: none;
}

.gwt-RadioButton label:before {
    content: "";
    display: inline-block;

    width: 13px;
    height: 13px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: radioButtonBackgroundColor;
}
.gwt-RadioButton label:before {
    border-radius: 8px;
}
.gwt-RadioButton input[type=radio]:checked + label:before {
    /*text-align: center;*/
    /*line-height: 18px;*/
    background: -moz-radial-gradient(center, ellipse cover, windowContentBackground 35%, radioButtonBackgroundColor 40%);  /*FF3.6+*/
    background: -webkit-radial-gradient(center, ellipse cover, windowContentBackground 35%,radioButtonBackgroundColor 40%);  /*Chrome10+,Safari5.1+*/
    background: radial-gradient(ellipse at center, windowContentBackground 35%,radioButtonBackgroundColor 40%); /* W3C*/
}

.gwt-TextBox{
    background-color: inputBackground;
    color: mainFontColor;
    border: 1px solid tabBorder;
    border-radius: 2px;
    font-size: fontSize;
}

.gwt-TextBox[disabled]{
    background-color: tabsPanelBackground;
}

.gwt-Button{
    padding: 0px;
    color: mainFontColor;
    border-radius: 2px;
    border: 1px solid tabBorder;
    font-weight: 500;
    height: 26px;
    background: linear-gradient(to bottom, buttonTopColor 0%, buttonTopColor 3%,buttonColor 4%, buttonColor 100%);
}
.gwt-Button:hover, .gwt-Button[disabled]:hover{
    /*border-top: 1px solid #646464;*/
    border: 1px solid tabBorder;
}

.gwt-Button:active{
    box-shadow:  0 0 4px 2px selectionBackground;
    border-radius: 3px;
    outline: none;
}

*::-moz-focus-inner {
    border: 0;
}

.gwt-Button[disabled]:active{
    box-shadow:  0 0 0px 0px selectionBackground;
    border-radius: 2px;
    outline: none;
}


.gwt-PushButton-up,.gwt-ToggleButton-up{
    color: mainFontColor;
    border-radius: 2px;
    border: 1px solid tabBorder;
    font-weight: 500;
    background: linear-gradient(to bottom, buttonTopColor 0%, buttonTopColor 3%,buttonColor 4%, buttonColor 100%);
}
.gwt-PushButton-up-hovering, .gwt-ToggleButton-up-hovering{
    border: 1px solid tabBorder;
    background: linear-gradient(to bottom, buttonTopColor 0%, buttonTopColor 3%,buttonColor 4%, buttonColor 100%);
}
.gwt-PushButton-up-disabled, .gwt-ToggleButton-up-disabled{

}
.gwt-PushButton-down, .gwt-ToggleButton-down{
    color: mainFontColor;
    border-radius: 2px;
    border: 1px solid tabBorder;
    font-weight: 500;
    background: linear-gradient(to bottom, buttonTopColor 0%, buttonTopColor 3%,buttonColor 4%, buttonColor 100%);
    box-shadow:  0 0 4px 2px selectionBackground;
    border-radius: 3px;
    outline: none;
}
.gwt-PushButton-down-hovering, .gwt-ToggleButton-down-hovering{
    color: mainFontColor;
    border-radius: 2px;
    border: 1px solid tabBorder;
    font-weight: 500;
    background: linear-gradient(to bottom, buttonTopColor 0%, buttonTopColor 3%,buttonColor 4%, buttonColor 100%);
    box-shadow:  0 0 4px 2px selectionBackground;
    border-radius: 3px;
    outline: none;
}
.gwt-PushButton-down-disabled, .gwt-ToggleButton-down-disabled{
    box-shadow:  0 0 0px 0px selectionBackground;
    border-radius: 2px;
    outline: none;
    color: #888888;
}

/* Style for splitter */
.gwt-SplitLayoutPanel-HDragger {
    /*background: tabBorder;*/
    cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
    /*background: tabBorder;*/
    cursor: row-resize;
}

.gwt-DialogBox {
    box-shadow: 0 0 6px 1px tabBorder;
}

.hsplitter, .gwt-SplitLayoutPanel-HDragger {
    background: tabBorder;  /*Old browsers */
    background: linear-gradient(to right, tabBorder 0%, tabBorder 10%,tabsPanelBackground 10%,tabsPanelBackground 90%,tabBorder 91%,tabBorder 100%); /* W3C */
}

.vsplitter, .gwt-SplitLayoutPanel-VDragger {
    background: tabBorder;  /*Old browsers */
    background: linear-gradient(to bottom, tabBorder 0%,tabBorder 10%,tabsPanelBackground 10%,tabsPanelBackground 90%,tabBorder 91%,tabBorder 100%); /* W3C */
}


#talk_roster {
        display: none;
    }

    a {
        outline: none;
    }

    .simpleListContainer {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .mainText {
        font-family: mainFontFamily;
    }

    .mainFont {
        cursor: default;
        font-family: mainFontFamily;
        font-size: fontSize;
        font-style: normal;
        font-weight: normal;
    }

    .mainBoldFont {
        cursor: default;
        font-family: mainFontFamily;
        font-size: fontSize;
        font-style: normal;
        font-weight: bold;
    }

    .errorFont {
        cursor: default;
        font-family: mainFontFamily;
        font-size: fontSize;
        font-style: normal;
        font-weight: normal;
        color: #d21a1a;
    }

    .greyFontColor {
        color: #545454;
    }

    .cursorPointer {
        cursor: pointer;
    }

    .line {

    }

/* We tweaked so that the default styles will be
the inline scroller style. There's a separate "documentScrollable"
class for the document-level scrollbars. */
::-webkit-scrollbar {
    width: scrollbarSize;
    height: scrollbarSize;
}

::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
}

::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    display: block;
}

::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

::-webkit-scrollbar-track:vertical {
    border-left: 6px solid transparent;
    border-right: 1px solid transparent;
    background-clip:padding-box;
    background-color: transparent;
}
::-webkit-scrollbar-track:horizontal {
    border-top: 6px solid transparent;
    border-bottom: 1px solid transparent;
    background-clip:padding-box;
    background-color: transparent;
}

::-webkit-scrollbar-track:hover {
    background-color:rgba(178,178,178,0.05);
    -webkit-box-shadow: inset 1px 0px 0px  rgba(178,178,178,0.10);
}

::-webkit-scrollbar-track:active {
    background-color:rgba(178,178,178,0.05);
    -webkit-box-shadow: inset 1px 0px 0px  rgba(178,178,178,0.14),
    inset -1px -1px 0px  rgba(178,178,178,0.07);
}

::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding-top:100px;
    background-clip:padding-box;
    background-color: rgba(178,178,178,0.2);
    -webkit-box-shadow: inset 1px 1px 0px rgba(178,178,178,0.10),
    inset 0px -1px 0px  rgba(178,178,178,0.07);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(178,178,178,0.4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(178,178,178,0.25);
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(178,178,178,0.35);
    background-color: rgba(178,178,178,0.5);
}
::-webkit-scrollbar-thumb:vertical {
    border-left: 6px solid transparent;
    border-right: 1px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}
::-webkit-scrollbar-thumb:horizontal {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 1px solid transparent;
}
