.table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.itemsTree {
	z-index: 0;
	width: 100%;
	height: 100%;
}

.labelTitle {
	font-size: medium;
	font-weight: bold;
	vertical-align: middle;
	padding-left: 10px;
}

.labelDescription {
	font-style: italic;
	vertical-align: middle;
	padding-left: 10px;
}

.topBox {
	background-color: #eef6ff;
	vertical-align: middle;
}

.line {
	background-color: #a6abaf;
}

.labelValue {
	font-weight: bold;
}