.table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.itemsTree {
	z-index: 0;
	width: 100%;
	height: 100px;
}

.labelTitle {
	font-size: medium;
	font-weight: bold;
	vertical-align: middle;
	padding-left: 10px;
}

.labelDescription {
	font-style: italic;
	vertical-align: middle;
	padding-left: 10px;
}

.wizard {
	bottom: 0;
	height: 100%;
	left: 0;
	position: relative;
	right: 0;
	top: 0;
}

.footer {
	bottom: 10px;
	position: absolute;
}

/* style for top of the wizard (where the name and short description are displayed)*/
.topBox {
	background-color: #eef6ff;
	vertical-align: middle;
	border-bottom: 1px solid #A6ABAF;
	width: 100%;
	height: 59px;
}

.labelValue {
	font-weight: bold;
}

.labelSubtitle {
	font-weight: bold;
	font-align: center;
}

.cloudfoundryTable {
	width: 100%;
	height: 30px;
	border-collapse: collapse;
}

.cloudbeesTable {
	width: 100%;
	height: 60px;
	border-collapse: collapse;
}

.visibleTable {
	display: block;
}

.hiddenTable {
	display: none;
}

.loginLable {
	
}

.innerBox {
	display: block;
	margin: 0 8px;
}

.bottomBox {
	display: block;
	margin: 0 8px;
}

.leftFloat {
	float: left;
}

.right {
	position: absolute;
	right: 0;
}

.middle {
	position: absolute;
	right: 100px;
}

.newFolderDivInput {
	position: absolute;
	right: 100px;
	left: 100px;
}

.label {
	margin-top: 5px;
	float: left;
}