/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

@CHARSET "UTF-8";

.login .loginFont {
    cursor: default;
    font-family: mainFontFamily;
    font-size: fontSize;
    font-style: normal;
    font-weight: normal;
}

.login .loginErrorFont {
    cursor: default;
    font-family: mainFontFamily;
    font-size: fontSize;
    font-style: normal;
    font-weight: normal;
    color: #d21a1a;
}

.project .labelH {
    font-family: mainFontFamily;
    font-size: fontSize;
    font-weight: bold;
}

.project .link {
    font-family: mainFontFamily;
    font-size: fontSize;
    overflow-x: hidden;
    white-space: nowrap;
}

.project .textinput {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

.appInfo .event {
    background: #f1f2f5;
}