/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

@sprite .project {
    gwt-image: "project";
}

@sprite .projectOpen {
    gwt-image: "projectOpen";
}

@sprite .folder {
    gwt-image: "folder";
}

@sprite .folderOpen {
    gwt-image: "folderOpen";
}

@sprite .folderLoading {
    gwt-image: "folderLoading";
}

@sprite .file {
    gwt-image: "file";
}

.root {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

.icon {
    margin: 0px 0px -1px 1px;
    display: inline-block;
    background-position: center center;
    padding: 0px 3px 0px 3px;
}

.label, .nodeNameInput {
    font-family: fileTreeFontFamily;
    font-size: secondaryTextFontSize;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.label {
    padding: 0px 3px 0px 3px;
    cursor: default;
}

.nodeNameInput {
    border: 1px solid #D9D9D9;
    border-top: 1px solid #C0C0C0;
}
