/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

.ide-work-bench-tool-panel-left,
.ide-work-bench-tool-panel-right,
.ide-work-bench-tool-panel-bottom {
    position: relative;
}

.ide-work-bench-tool-panel-left {
    /* panel where tab-buttons created*/
    background: tabsPanelBackground;
    border-right: 1px solid tabBorder;
    border-left: 1px solid tabBorder;
}

.ide-work-bench-tool-panel-right {
    /* panel where tab-buttons created*/
    background: tabsPanelBackground;
    border-right: 1px solid tabBorder;
    border-left: 1px solid tabBorder;
}

.ide-work-bench-tool-panel-bottom {
    /* panel where tab-buttons created*/
    background: tabsPanelBackground;
    border-right: 1px solid tabBorder;
    border-bottom: 1px solid tabBorder;
    border-left: 1px solid tabBorder;
    border-top: 1px solid tabBorder;
}