@sprite .exo-code-error-mark
{
  gwt-image: "codeErrorMark";
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  /* background: transparent url('images/code-error-mark.png') no-repeat scroll center center;  */
  cursor: pointer;
  width: auto;
  height: auto;
}

@sprite .exo-code-mark-warning
{
  gwt-image: "markWarning";
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: scroll;
  /* background: transparent url('images/code-error-mark.png') no-repeat scroll center center;  */
  cursor: pointer;
  width: auto;
  height: auto;
}

@sprite .exo-code-mark-error
{
  gwt-image: "markError";
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: scroll;
  /* background: transparent url('images/code-error-mark.png') no-repeat scroll center center;  */
  cursor: pointer;
  width: auto;
  height: auto;
}

.overview-panel
{
    background-color: #eee;
}

.overview-mark-error
{
	background-color: #e4a5c5;
	border-width: 1px;
	border-style: solid;
	border-color: #f82c92;
	width: 7px;
	height: 3px;
	cursor: pointer;	
}

.overview-bottom-mark-error
{
	background-color: #e4a5c5;
	border-width: 1px;
	border-style: solid;
	border-color: #f82c92;
	width: 7px;
	height: 6px;
	cursor: pointer;	
}

.overview-mark-warning
{
    background-color: #fcf1ca;
    border-width: 1px;
    border-style: solid;
    border-color: #f6d357;
    width: 7px;
    height: 3px;    
	cursor: pointer;	
}

.overview-bottom-mark-warning
{
    background-color: #fcf1ca;
    border-width: 1px;
    border-style: solid;
    border-color: #f6d357;
    width: 7px;
    height: 6px;    
    cursor: pointer;    
}
