.exo-autocomplete-panel {
	background-color: #FFFFFF;
	border: #A7ABB4 1px solid;
}

.exo-autocomplete-list {
	border: 0 none;
	background: white;
}

.exo-autocomplete-description {
	border: #A7ABB4 1px solid;
	background-color: #e0e9ee;
	font-family: monospace;
	font-size: 10pt;
	overflow: scroll;
}

.exo-autocomplete-edit {
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-bottom: #A7ABB4 1px solid;
}