/****************************************************************************************
POPUP MENU

style prefix: exo-popupMenu-
****************************************************************************************/

.exo-popupMenuMain {
    background: #FFFFFF url(background.png) repeat-y scroll;
    position: absolute;
    box-shadow: 1px 1px 2px #999999;
    margin-left: -1px;
}

.exo-popupMenuTable {
    border: 1px solid #b3b3b3;
    font-family: Verdana, Bitstream Vera Sans, sans-serif;
    font-size: 11px;
    position: relative;
    left: 0px;
    top: 0px;
}

.exo-popupMenuCheckField,
.exo-popupMenuCheckFieldOver,
.exo-popupMenuCheckFieldDisabled,
.exo-popupMenuIconField,
.exo-popupMenuIconFieldOver,
.exo-popupMenuIconFieldDisabled,
.exo-popupMenuTitleField,
.exo-popupMenuTitleFieldOver,
.exo-popupMenuTitleFieldDisabled,
.exo-popupMenuHotKeyField,
.exo-popupMenuHotKeyFieldOver,
.exo-popupMenuHotKeyFieldDisabled,
.exo-popupMenuSubMenuField,
.exo-popupMenuSubMenuFieldOver,
.exo-popupMenuSubMenuFieldDisabled,
.exo-popupMenuDelimiter {
    height: 25px;
    cursor: default;
    font-family: Verdana, Bitstream Vera Sans, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
}

.exo-popupMenuCheckField,
.exo-popupMenuCheckFieldOver,
.exo-popupMenuCheckFieldDisabled {
    width: 9px;
    padding-left: 1px;
    padding-right: 3px;
}

.exo-popupMenuIconField,
.exo-popupMenuIconFieldOver,
.exo-popupMenuIconFieldDisabled {
    width: 22px;
    padding-left: 3px;
    padding-right: 1px;
    padding-top: 2px;
}

.exo-popupMenuTitleField {
    color: #404040;
}

.exo-popupMenuHotKeyField {
}

.exo-popupMenuSubMenuField,
.exo-popupMenuSubMenuFieldOver,
.exo-popupMenuSubMenuFieldDisabled {
    width: 10px;
}

.exo-popupMenuHotKeyField,
.exo-popupMenuHotKeyFieldOver,
.exo-popupMenuHotKeyFieldDisabled {
    width: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.exo-popupMenuCheckFieldOver,
.exo-popupMenuIconFieldOver,
.exo-popupMenuTitleFieldOver,
.exo-popupMenuHotKeyFieldOver,
.exo-popupMenuSubMenuFieldOver {
    background: url(selected-shape.png) repeat-x scroll 0px 1px;
}

.exo-popupMenuIconFieldDisabled,
.exo-popupMenuTitleFieldDisabled,
.exo-popupMenuHotKeyFieldDisabled,
.exo-popupMenuSubMenuFieldDisabled {
    color: #b8b8b8;
}

.exo-popupMenuSubMenuImage {
    width: 7px;
    height: 7px;
}

.exo-popupMenuDelimiter {
    padding-left: 0px;
    padding-right: 0px;
}
