@sprite .exoIconButtonPanel,
.exoIconButtonPanelOver,
.exoIconButtonPanelDown,
.exoIconButtonPanelSelected,
.exoIconButtonPanelSelectedOver,
.exoIconButtonPanelSelectedDown {
    width: 24px;
    height: 24px;
    overflow: hidden;
    gwt-image: 'buttonBackground';
}

.exoIconButtonPanel {
    background-position: 0px 0px;
}

.exoIconButtonPanelOver {
    background-position: 0px -24px;
}

.exoIconButtonPanelDown {
    background-position: 0px -48px;
}

.exoIconButtonPanelSelected {
    background-position: 0px -72px;
}

.exoIconButtonPanelSelectedOver {
    background-position: 0px -96px;
}

.exoIconButtonPanelSelectedDown {
    background-position: 0px -120px;
}

.exoIconButtonIcon {
    width: 16px;
    height: 16px;
    margin: 4px;
}
