<?xml version="1.0" encoding="UTF-8"?>
<!--

    CODENVY CONFIDENTIAL
    __________________

    [2012] - [2013] Codenvy, S.A.
    All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="true">
    <display-name>IDE</display-name>
    <context-param>
        <param-name>everrest.exoplatform.standalone.config</param-name>
        <param-value>war:/WEB-INF/classes/conf/exo-configuration.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.everrest.exoplatform.servlet.EverrestExoContextListener$StandaloneContainerStarter</listener-class>
    </listener>
    <listener>
        <listener-class>org.everrest.websockets.WSConnectionTracker</listener-class>
    </listener>
    <listener>
        <listener-class>com.google.collide.server.FileEditSessionCleaner</listener-class>
    </listener>
    <listener>
        <listener-class>com.codenvy.ide.collaboration.watcher.server.WatcherSessionCleaner</listener-class>
    </listener>

    <servlet>
        <servlet-name>EverrestServlet</servlet-name>
        <servlet-class>org.everrest.exoplatform.servlet.EverrestExoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExoIdeWebSocketServlet</servlet-name>
        <servlet-class>org.exoplatform.ide.websocket.ExoIdeWebSocketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EverrestServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EverrestServlet</servlet-name>
        <url-pattern>/rest/private/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExoIdeWebSocketServlet</servlet-name>
        <url-pattern>/websocket</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExoIdeWebSocketServlet</servlet-name>
        <url-pattern>/collaboration</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>SetCurrentIdentityFilter</filter-name>
        <filter-class>org.exoplatform.services.security.web.SetCurrentIdentityFilter</filter-class>
    </filter>

    <filter>
        <filter-name>SetEnvironmentContextFilter</filter-name>
        <filter-class>com.codenvy.commons.env.SetEnvironmentContextFilter</filter-class>
    </filter>


    <filter>
        <filter-name>StandaloneAuthenticationFilter</filter-name>
        <filter-class>org.exoplatform.ide.authentication.StandaloneAuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SetCurrentIdentityFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SetCurrentIdentityFilter</filter-name>
        <url-pattern>/websocket</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SetCurrentIdentityFilter</filter-name>
        <url-pattern>/collaboration</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SetEnvironmentContextFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SetEnvironmentContextFilter</filter-name>
        <url-pattern>/websocket</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SetEnvironmentContextFilter</filter-name>
        <url-pattern>/collaboration</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>StandaloneAuthenticationFilter</filter-name>
        <url-pattern>/rest/private/*</url-pattern>
        <url-pattern>/websocket</url-pattern>
        <url-pattern>/collaboration</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <security-role>
        <description>the user role</description>
        <role-name>developer</role-name>
    </security-role>

</web-app>
