<html>

<head>
	<link href="../showcase_style.css" type="text/css" rel="stylesheet">
</head>

<body>

	<div style="position:absolute; left:50px; top:50px; width:500px; height:260px;">
	
		<table style="width: 100%; height: 100%;" border="0">
			<tr>
				<td>
					<div class="exoComponentLoader">
						<table class="exoComponentLoaderTable" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td class="exoComponentLoaderTableLeft">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
								
								<td class="exoComponentLoaderTableStretch">
									<div class="exoComponentLoaderProgressPanel">
										<img class="exoComponentLoaderProgressImage" src="../../images/ajax-loader.gif" />
									</div>
								</td>
		
								<td class="exoComponentLoaderTableDelimiter">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
								
								<td class="exoComponentLoaderTableButton">
									<div class="exoComponentLoaderButtonPanel">
										<img class="exoComponentLoaderButtonIcon" src="../../images/bundled/search.png" />
									</div>													
								</td>
					
								<td class="exoComponentLoaderTableRight">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
							</tr>
						</table>
					</div>
				</td>
				<td>- loader with icon normal</td>
			</tr>
			
			<tr>
				<td>
					<div class="exoComponentLoader">
						<table class="exoComponentLoaderTable" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td class="exoComponentLoaderTableLeftOver">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
								
								<td class="exoComponentLoaderTableStretchOver">
									<div class="exoComponentLoaderProgressPanel">
										<img class="exoComponentLoaderProgressImage" src="../../images/ajax-loader.gif" />
									</div>
								</td>
		
								<td class="exoComponentLoaderTableDelimiterOver">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
								
								<td class="exoComponentLoaderTableButtonOver">
									<div class="exoComponentLoaderButtonPanel">
										<img class="exoComponentLoaderButtonIcon" src="../../images/bundled/search.png">
									</div>													
								</td>
					
								<td class="exoComponentLoaderTableRightOver">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
							</tr>
						</table>
					</div>
				</td>
				<td>- loader with icon hovered</td>
			</tr>
			
			<tr>
				<td>
					<div class="exoComponentLoader">
						<table class="exoComponentLoaderTable" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td class="exoComponentLoaderTableLeftDown">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
								
								<td class="exoComponentLoaderTableStretchDown">
									<div class="exoComponentLoaderProgressPanel">
										<img class="exoComponentLoaderProgressImage" src="../../images/ajax-loader.gif" />
									</div>
								</td>
		
								<td class="exoComponentLoaderTableDelimiterDown">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
								
								<td class="exoComponentLoaderTableButtonDown">
									<div class="exoComponentLoaderButtonPanel">
										<img class="exoComponentLoaderButtonIcon" src="../../images/bundled/search.png">
									</div>													
								</td>
					
								<td class="exoComponentLoaderTableRightDown">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
							</tr>
						</table>
					</div>
				</td>
				<td>- loader with icon mouse down</td>
			</tr>
			
			<tr>
				<td>
					<div class="exoComponentLoaderNoIcon">
						<table class="exoComponentLoaderTableNoIcon" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td class="exoComponentLoaderTableLeft">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
								
								<td class="exoComponentLoaderTableStretch">
									<div class="exoComponentLoaderProgressPanel">
										<img class="exoComponentLoaderProgressImage" src="../../images/ajax-loader.gif" />
									</div>
								</td>
		
								<td class="exoComponentLoaderTableRight">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
							</tr>
						</table>
					</div>		
				</td>
				<td>- loader without icon normal</td>
			</tr>
			
			<tr>
				<td>
					<div class="exoComponentLoaderNoIcon">
						<table class="exoComponentLoaderTableNoIcon" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td class="exoComponentLoaderTableLeftOver">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
								
								<td class="exoComponentLoaderTableStretchOver">
									<div class="exoComponentLoaderProgressPanel">
										<img class="exoComponentLoaderProgressImage" src="../../images/ajax-loader.gif" />
									</div>
								</td>
		
								<td class="exoComponentLoaderTableRightOver">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
							</tr>
						</table>
					</div>		
				</td>
				<td>- loader without icon hovered</td>
			</tr>
			
			<tr>
				<td>
					<div class="exoComponentLoaderNoIcon">
						<table class="exoComponentLoaderTableNoIcon" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td class="exoComponentLoaderTableLeftDown">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
								
								<td class="exoComponentLoaderTableStretchDown">
									<div class="exoComponentLoaderProgressPanel">
										<img class="exoComponentLoaderProgressImage" src="../../images/ajax-loader.gif" />
									</div>
								</td>
		
								<td class="exoComponentLoaderTableRightDown">
									<img class="exo-blank" src="../../../eXoStyle/skin/default/images/blank.gif" />
								</td>
							</tr>
						</table>
					</div>		
				</td>
				<td>- loader without icon mouse down</td>
			</tr>

		</table>
			
	
	</div>

</body>

</html>
