@sprite .exo-code-error-mark
{
  gwt-image: "codeErrorMark";
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  /* background: transparent url('images/code-error-mark.png') no-repeat scroll center center;  */
  cursor: pointer;
  width: auto;
  height: auto;
}