<!DOCTYPE html>
<html>
    <head>
        <title>RailsDemo</title>
        <%= stylesheet_link_tag :all %>
        <%= javascript_include_tag :defaults %>
        <%= csrf_meta_tag %>
    </head>
    <body>
        <div id="background-banner">
            <div id="logo-exoplatform">
                <a href="/"><img id="img-logo" src="/images/logoexoplatform.png" /></a>
                <div class="header-font"><p>eXo IDE Rails Demo App</p></div>
            </div>
        </div>
        <%= yield %>
    </body>
</html>