    /*
     * CODENVY CONFIDENTIAL
     * __________________
     *
     * [2012] - [2013] Codenvy, S.A.
     * All Rights Reserved.
     *
     * NOTICE:  All information contained herein is, and remains
     * the property of Codenvy S.A. and its suppliers,
     * if any.  The intellectual and technical concepts contained
     * herein are proprietary to Codenvy S.A.
     * and its suppliers and may be covered by U.S. and Foreign Patents,
     * patents in process, and are protected by trade secret or copyright law.
     * Dissemination of this information or reproduction of this material
     * is strictly forbidden unless prior written permission is obtained
     * from Codenvy S.A..
     */
    .cellTreeWidget {
        font-family: Verdana, Bitstream Vera Sans, sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: normal;
        white-space: nowrap;
        line-height: 16px;
    }

    .cellTreeEmptyMessage {
        padding-left: 16px;
        font-style: italic;
    }

    .cellTreeItem {
        height: 22px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }

    .cellTreeItemImage {
    }

    .cellTreeItemImageValue {
    }

    .cellTreeItemValue {
    }

        /*
        div:focus { outline: none; }
        */
    .cellTreeKeyboardSelectedItem {
        /*  background-color: #ffff00; */

    }

    .cellTreeOpenItem {

    }

    .cellTreeTopItem {

    }

    .cellTreeTopItemImage {

    }

    .cellTreeTopItemImageValue {

    }

    .cellTreeSelectedItem {
        background-color: #d6e9ff !important;
        background-image: none;
    }

    .cellTreeShowMoreButton {
        padding-left: 16px;
        padding-top: 5px;
        outline: none;
    }
