    /**********************************************************************************************
    IMAGE BUTTON
    ***********************************************************************************************/

    .imageButtonPanel {
        width: 90px;
    }

    .imageButtonTable {
        height: 22px;
        width: 100%;
        cursor: pointer;
        border-collapse: collapse;
        font-family: Verdana, Bitstream Vera Sans, sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        line-height: 12px;
    }

    .imageButtonOver tr td {
        background-position: 0px -22px;
    }

    .imageButtonDown tr td {
        background-position: 0px -44px;
    }

    .imageButtonDisabled tr td {
        background-position: 0px -66px;
        color: #AAAAAA;
    }

    .imageButtonHidden {
        display: none;
    }

    @sprite .imageButtonLeft {
        width: 4px;
        gwt-image: 'left';
        height: 22px;
    }

    .imageButtonLeft div {
        width: 4px;
        height: 1px;
    }

    @sprite .imageButtonStretch {
        text-align: center;
        gwt-image: 'stretch';
        height: 22px;
    }

    @sprite .imageButtonRight {
        width: 4px;
        gwt-image: 'right';
        height: 22px;
    }

    .imageButtonRight div {
        width: 4px;
        height: 1px;
    }

    .imageButtonTitleTable {
        border-collapse: collapse;
        margin: auto;
    }

    .imageButtonIconPanel {
        width: 16px;
        height: 16px;
        overflow: hidden;
    }

    .imageButtonText {
        color: #000000;
        margin: 0px;
        padding: 0px;
        border: 0px none;
        font-family: Verdana, Bitstream Vera Sans, sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
    }
