<web-app>

   <servlet>
      <servlet-name>shell</servlet-name>
      <servlet-class>com.google.gwt.dev.shell.GWTShellServlet
      </servlet-class>
   </servlet>

   <servlet>
      <servlet-name>testservlet</servlet-name>
      <servlet-class>org.exoplatform.ide.server.GroovyTestServlet
      </servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>shell</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>testservlet</servlet-name>
      <url-pattern>/test_servlet/*</url-pattern>
   </servlet-mapping>

</web-app>

