/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

    /* CSS for AutocompleteComponent.java */

    @def maxHeight 300px;

    .container {
        box-sizing: border-box;
        border: 1px solid completionPopupBorderColor;
        background-color: completionPopupBackgroundColor;
        -webkit-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75);
        box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75);
        padding: 5px 0 5px 10px;
        min-width: 150px;
        max-width: 450px;
        overflow-x: auto !important;
    }

    .items {
        border-width: 0;
        border-spacing: 0;
        width: 100%;
    }

    .hint {
        overflow-x: hidden;
        font-size: 11px;
        font-family: arial, sans-serif;
        color: #666;
        background-color: #F7F7F7;

        border: 1px solid rgba(0, 0, 0, 0.2);

        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        text-align: center;
        line-height: 16px;
        padding: 0 3px;
    }

    .proposalIcon {
        max-width: 16px;
    }
    
    .proposalIcon img {
        vertical-align: middle;
    }
    
    .proposalIcon svg {
        vertical-align: middle;
        width: 16px;
        height: 16px;
    }

    .proposalLabel {
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
        color: mainFontColor;
        font-size: boxFontSize;
        font-family: mainFontFamily;
    }
	
	.infoPopup {
		-moz-border-radius: 1px !important;
    	border-radius: 1px !important;
    	 -webkit-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75)!important;
        -moz-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75)!important;
        box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75)!important;
    	font-family: mainFontFamily;
	}

    .cappedProposalLabel {
        color: #999;
    }

    .proposalGroup {
        padding-left: 5px;
        color: grey;
        text-align: right;
        max-width: 250px;
    }
