@CHARSET "UTF-8";
/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

/*Tabs*/

@eval tabBorder com.codenvy.ide.api.ui.theme.Style.getTabBorderColor();
@eval inactiveTabBackground com.codenvy.ide.api.ui.theme.Style.getInactiveTabBackground();
@eval inactiveTabBorderColor com.codenvy.ide.api.ui.theme.Style.getInactiveTabBorderColor();
@eval activeTabBackground com.codenvy.ide.api.ui.theme.Style.getActiveTabBackground();
@eval activeTabBorderColor com.codenvy.ide.api.ui.theme.Style.getActiveTabBorderColor();
@eval tabsPanelBackground com.codenvy.ide.api.ui.theme.Style.getTabsPanelBackground();
@eval highlightFocus com.codenvy.ide.api.ui.theme.Style.getHighlightFocus();

@eval hoverBackgroundColor com.codenvy.ide.api.ui.theme.Style.getHoverBackgroundColor();
@eval lightGreyBackground com.codenvy.ide.api.ui.theme.Style.getLightGreyBackground();
@eval barBackgroundColor com.codenvy.ide.api.ui.theme.Style.getBarBackgroundColor();

@eval partBackground com.codenvy.ide.api.ui.theme.Style.getPartBackground();
@eval partToolbar com.codenvy.ide.api.ui.theme.Style.getPartToolbar();
@eval partToolbarActive com.codenvy.ide.api.ui.theme.Style.getPartToolbarActive();
@eval partToolbarShadow com.codenvy.ide.api.ui.theme.Style.getPartToolbarShadow();

@eval consolePanelColor com.codenvy.ide.api.ui.theme.Style.getConsolePanelColor();

@eval tabBorderShadow com.codenvy.ide.api.ui.theme.Style.getTabBorderShadow();
@eval buttonTextShadow com.codenvy.ide.api.ui.theme.Style.getButtonTextShadow();

/* Indicates a completed action. Preferred text color is lightTextColor. */
@eval completedBackgroundColor com.codenvy.ide.api.ui.theme.Style.getCompletedBackgroundColor();
/* Background color for an item selected with the keyboard */
@eval keyboardSelectionBackgroundColor com.codenvy.ide.api.ui.theme.Style.getKeyboardSelectionBackgroundColor();
@eval anchorColor com.codenvy.ide.api.ui.theme.Style.getAnchorColor();

/* Tree */
@eval hoverBackground com.codenvy.ide.api.ui.theme.Style.getHoverBackground();
@eval selectionBackground com.codenvy.ide.api.ui.theme.Style.getSelectionBackground();

/* Button */
@eval buttonTopColor com.codenvy.ide.api.ui.theme.Style.getButtonTopColor();
@eval buttonColor com.codenvy.ide.api.ui.theme.Style.getButtonColor();

/* notable button */
@eval notableButtonTopColor com.codenvy.ide.api.ui.theme.Style.getNotableButtonTopColor();
@eval notableButtonColor com.codenvy.ide.api.ui.theme.Style.getNotableButtonColor();

/*input*/
@eval inputBackground com.codenvy.ide.api.ui.theme.Style.getInputBackground();

/*Editor*/
@eval editorBackgroundColor com.codenvy.ide.api.ui.theme.Style.getEditorBackgroundColor();
@eval editorCurrentLineColor com.codenvy.ide.api.ui.theme.Style.getEditorCurrentLineColor();
@eval editorDefaultFontColor com.codenvy.ide.api.ui.theme.Style.getEditorDefaultFontColor();
@eval editorSelectionColor com.codenvy.ide.api.ui.theme.Style.getEditorSelectionColor();
@eval editorInactiveSelectionColor com.codenvy.ide.api.ui.theme.Style.getEditorInactiveSelectionColor();
@eval editorGutterColor com.codenvy.ide.api.ui.theme.Style.getEditorGutterColor();

/* Sizes */
@def dividerThickness 1px;
@def popupPadding 24px;
@def titlePaddingBottom 16px;
@def buttonSpacing 10px;
@def labelPaddingBottom 6px;
@def examplePaddingTop 4px;
@def formButtonPaddingTop 18px;
@def sideBarHorizontalPadding 12px;
@def splitterWidth 8px;
@def splitterOverlap 4px;

/* Font Sizes */
@def fontSize 13px;
@def largeFontSize 16px;
@def productFontSize 20px;
@def landingTitleFontSize 20px;
@def titleFontSize 16px;
@def secondaryTextFontSize 11px;
@def largeLabel 14px;
@def largeDropdownLabel 12px;

/* Fonts */
@def alternativeFontFamily "Helvetica Neue", "Myriad Pro","open sans", arial, sans-serif;
@def fileTreeFontFamily "Helvetica Neue", "Myriad Pro","Lucida Grande", Verdana, Arial;
@def mainFontFamily "Helvetica Neue", "Myriad Pro", arial, Verdana, Verdana, sans-serif;
@def editorLineHeight 15px;
@def editorFontFamily 'Andale Mono', monospace;

/*Main Menu*/
@eval mainMenuBkgColor com.codenvy.ide.api.ui.theme.Style.getMainMenuBkgColor();
@eval mainMenuFontColor com.codenvy.ide.api.ui.theme.Style.getMainMenuFontColor();
@def fontMenuSize 12px;

@eval mainFontColor com.codenvy.ide.api.ui.theme.Style.getMainFontColor();
@eval welcomeFontColor com.codenvy.ide.api.ui.theme.Style.getWelcomeFontColor();
@eval lightTextColor com.codenvy.ide.api.ui.theme.Style.getLightTextColor();
@eval lightestTextColor com.codenvy.ide.api.ui.theme.Style.getLightestTextColor();
@eval radioButtonBackgroundColor com.codenvy.ide.api.ui.theme.Style.getRadioButtonBackgroundColor();
@eval disabledMenuItemColor com.codenvy.ide.api.ui.theme.Style.getDeisabledMenuColor();

/* DialogBox*/
@eval dialogTopLeft com.codenvy.ide.api.ui.theme.Style.getTabBorderColor();
@eval dialogTopCenter com.codenvy.ide.api.ui.theme.Style.getTabBorderColor();
@eval dialogTopRight com.codenvy.ide.api.ui.theme.Style.getTabBorderColor();
@eval dialogMiddleLeft com.codenvy.ide.api.ui.theme.Style.getTabBorderColor();
@eval dialogMiddleRight com.codenvy.ide.api.ui.theme.Style.getTabBorderColor();
@eval dialogBottomLeft com.codenvy.ide.api.ui.theme.Style.getTabBorderColor();
@eval dialogBottomCenter com.codenvy.ide.api.ui.theme.Style.getTabBorderColor();
@eval dialogBottomRight com.codenvy.ide.api.ui.theme.Style.getTabBorderColor();
@eval dialogContentBackground com.codenvy.ide.api.ui.theme.Style.getDialogContentBackground();

/*Window*/
@eval windowContentBackground com.codenvy.ide.api.ui.theme.Style.getWindowContentBackground();
@eval windowHeaderBackground com.codenvy.ide.api.ui.theme.Style.getWindowHeaderBackground();

/*syntax highlight*/
@eval keyword com.codenvy.ide.api.ui.theme.Style.getEditorKeyWord();
@eval atom com.codenvy.ide.api.ui.theme.Style.getEditorAtom();
@eval number com.codenvy.ide.api.ui.theme.Style.getEditorNumber();
@eval deff com.codenvy.ide.api.ui.theme.Style.getEditorDef();
@eval variable com.codenvy.ide.api.ui.theme.Style.getEditorVariable();
@eval variable2 com.codenvy.ide.api.ui.theme.Style.getEditorVariable2();
@eval property com.codenvy.ide.api.ui.theme.Style.getEditorProperty();
@eval operator com.codenvy.ide.api.ui.theme.Style.getEditorOperator();
@eval comment com.codenvy.ide.api.ui.theme.Style.getEditorComment();
@eval string com.codenvy.ide.api.ui.theme.Style.getEditorString();
@eval string2 com.codenvy.ide.api.ui.theme.Style.getEditorString2();
@eval smeta com.codenvy.ide.api.ui.theme.Style.getEditorMeta();
@eval error com.codenvy.ide.api.ui.theme.Style.getEditorError();
@eval builtin com.codenvy.ide.api.ui.theme.Style.getEditorBuiltin();
@eval tag com.codenvy.ide.api.ui.theme.Style.getEditorTag();
@eval attribute com.codenvy.ide.api.ui.theme.Style.getEditorAttribute();

/*wizard*/
@eval stepsPanelColor com.codenvy.ide.api.ui.theme.Style.getWizardStepsColor();
@eval stepsPanelBorerColor com.codenvy.ide.api.ui.theme.Style.getWizardStepsBorderColor();

/*Cell widgets*/
@eval cellOddRow com.codenvy.ide.api.ui.theme.Style.getCellOddRow();
@eval cellEvenRow com.codenvy.ide.api.ui.theme.Style.getCellEvenRow();
@eval cellKeyboardSelectedRow com.codenvy.ide.api.ui.theme.Style.getCellKeyboardSelectedRow();
@eval cellHoveredRow com.codenvy.ide.api.ui.theme.Style.getCellHoveredRow();