@CHARSET "UTF-8";
    /*Tabs*/
@def tabBorder #bdbdbd;
@def inactiveTabBackground #d6d6d6;
@def activeTabBackground #ffffff;
@def tabsPanelBackground #f6f6f6;
@def highlightFocus #92c1f0;

@def hoverBackgroundColor #D4E8FF;
@def lightTextColor #999;
@def lightestTextColor #BCBCBC;
@def lightGreyBackground #F1F1F1;
@def barBackgroundColor #f5f5f5;
    /* Indicates a completed action. Preferred text color is lightTextColor. */
@def completedBackgroundColor #f9edbe;
    /* Background color for an item selected with the keyboard */
@def keyboardSelectionBackgroundColor #C3DEFF;
@def anchorColor #1155CC;

    /* Tree */
@def hoverBackground #D4E8FF;
@def selectionBackground #C3DEFF;

    /* Sizes */
@def dividerThickness 1px;
@def popupPadding 24px;
@def titlePaddingBottom 16px;
@def buttonSpacing 10px;
@def labelPaddingBottom 6px;
@def examplePaddingTop 4px;
@def formButtonPaddingTop 18px;
@def sideBarHorizontalPadding 12px;
@def splitterWidth 8px;
@def splitterOverlap 4px;

    /* Font Sizes */
@def fontSize 13px;
@def largeFontSize 16px;
@def productFontSize 20px;
@def landingTitleFontSize 20px;
@def titleFontSize 16px;
@def secondaryTextFontSize 11px;
@def largeLabel 14px;
@def largeDropdownLabel 12px;

    /* Fonts */
@def alternativeFontFamily "Myriad Pro","open sans", arial, sans-serif;
@def fileTreeFontFamily "Myriad Pro","Lucida Grande", Verdana, Arial;
@def mainFontFamily "Myriad Pro",arial,Verdana,Verdana,sans-serif;
@def editorLineHeight 15px;
@def editorFontFamily 'Andale Mono', monospace;

    /* DialogBox*/
@def dialogTopLeft url("_app/style/light/window/window_TL.png") no-repeat;
@def dialogTopCenter url("_app/style/light/window/window_T.png") repeat-x;
@def dialogTopRight url("_app/style/light/window/window_TR.png") no-repeat;
@def dialogMiddleLeft url("_app/style/light/window/window_L.png") repeat-y;
@def dialogMiddleRight url("_app/style/light/window/window_R.png") repeat-y;
@def dialogBottomLeft url("_app/style/light/window/window_BL.png") no-repeat;
@def dialogBottomCenter url("_app/style/light/window/window_B.png") repeat-x;
@def dialogBottomRight url("_app/style/light/window/window_BR.png") no-repeat;
