BODY {
	background-color:#ebebeb;
}

.DevTool_contentEditorBorder {
	border: 1px solid #A7ABB4;
}

.UploadFile-FileSelect {
	cursor: hand;
}

/*
CUSTOMIZE TOOLBAR
*/
.exo-customizeToolbar-delimiter,
.exo-customizeToolbar-spacer,
.exo-customizeToolbar-commandGroup
{
	width:10px;
	font-family:Verdana, Bitstream Vera Sans, sans-serif;
    font-size:11px;
    font-weight: normal;
    font-style: normal;	
}

.exo-customizeToolbar-delimiter
{
	color:blue;
}

.exo-customizeToolbar-spacer
{
	color:red;
}

.exo-customizeToolbar-commandGroup
{
	color:#333333;
}

.exo-cutomizeHotKey-label-error
{
	color:#db0000;
	padding-top: 3px;
	padding-bottom: 3px;
}

.exo-cutomizeHotKey-label-info
{
	color:#0059bc;
	padding-top: 3px;
	padding-bottom: 3px;
}
