/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

    /* Annotated CSS for the Editor presenter. */

    .root {
        background-color: editorBackgroundColor;
        bottom: 0;
        font-family: editorFontFamily;
        font-size: 13px;
        left: 0;
        line-height: editorLineHeight;
        position: absolute;
        right: 0;
        text-wrap: none;
        top: 0;
        user-select: none;
        white-space: pre;
        color: editorDefaultFontColor;
    }

    .editorFont, .root {
        font-family: editorFontFamily;
        font-size: 13px;
    }

        /* Same selection colors as the editor's manually drawn selection */
    ::selection {
        background: editorSelectionColor;
    }

    ::selection:window-inactive {
        background: editorInactiveSelectionColor;
    }

        /* FF doesn't support inactive selection */
    ::-moz-selection {
        background: editorSelectionColor;
    }

    .scrolled {
    }

    .gutter {
    }

    .scrolled > .gutter, .scrolled > .scrollable {
        box-shadow: inset 0px 4px 2px -2px #DDD;
    }

    .leftGutterBase, .leftGutter, .leftGutterNotification {
        cursor: default;
        font-size: 11px;
        font-face: Verdana;
        height: 100%;
        line-height: editorLineHeight;
        overflow: hidden;
        /* Allow children to position absolutely against us */
        position: relative;

        /* Allow decorations with z-index:-1 such as breakpoints */
        z-index: 0;
    }

    .leftGutterBase {
        border-right: 1px dotted;
        color: #bbbbbb;
    }

    .leftGutter {
        color: #bbbbbb;
        min-width: 2em;
        padding-left: 5px;
        padding-right: 6px;
        border-right: 1px dotted #888888;
        text-align: right;
    }

    .leftGutterNotification {
        width: 14px;
        background-color: editorGutterColor;
        text-align: right;
    }

        /* Empty rule for enabling CSS3 animations for editor changes. */
    .animationEnabled {

    }

    @sprite .lineRendererError {
        gwt-image: "squiggle";
        background-position: bottom;
        background-repeat: repeat-x;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        overflow: visible;
    }

    @sprite .lineWarning {
        gwt-image: "squiggleWarning";
        background-position: bottom;
        background-repeat: repeat-x;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        overflow: visible;
    }

    @sprite .lineError {
        gwt-image: "squiggle";
        background-position: bottom;
        background-repeat: repeat-x;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        overflow: visible;
    }