/**
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

.CodeMirror-mainFrame {
    background-color: #2b2b2b !important;
}

.CodeMirror-line-numbers {
    background-color: #313335 !important;
    color: #888888 !important;
}

.CodeMirror-line-highlighter {
    background-color: #434343 !important;
}

.editbox {
    color: #A9B7C6 !important;
}

.whitespace {
    color: #A9B7C6 !important;
}

/*
 *  XML colors
 */

.xml-comment {
    color: #A9B7C6 !important;
}

.xml-processing {
    color: #A9B7C6 !important;
}

.xml-punctuation {
    color: #CC7832 !important;
}

.xml-tagname {
    color: #CC7832 !important;
}

.xml-attname {
    color: #EEE852 !important;
}

.xml-attribute {
    color: #72A56E !important;
}

.xml-text {
    color: #EEE852 !important;
}

/*
 *  HTML colors
 */

.html-comment {
    color: #A9B7C6 !important;
}

/*
 *  Groovy colors
 */

.groovyComment {
    color: #A9B7C6 !important;
}

.javaKeyword {
    color: #CC7832 !important;
}

.groovyVariable {
    color: #A9B7C6 !important;
}

.groovyPunctuation {
    color: #B079CC !important;
}

.javaAnnotation {
    color: #EEE852 !important;
}

.groovyString {
    color: #A5C25C !important;
}

.javaModifier {
    color: #72A56E !important;
}

.javaType {
    color: #DA4939 !important;
}

.groovyOperator {
    color: #B079CC !important;
}
