@CHARSET "UTF-8";
/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

.ide-PartStack {
    /* fill */
}

.ide-PartStack .ide-PartStack-Tabs {
    /* panel where tab-buttons created*/
    background: editorBackgroundColor;
    border-bottom: 1px solid tabBorder;
}

.ide-PartStack .ide-PartStack-Editor-Content {
    border: 3px solid activeTabBackground;
    background-color: activeTabBackground;
}

.ide-PartStack .ide-PartStack-Tab {
    /* tab button */
    margin-left: 3px;
    margin-top: 3px;
    background: inactiveTabBackground;
    border: 1px solid inactiveTabBorderColor;
    padding: 3px 16px;
    cursor: pointer;
    cursor: hand;
    position: relative;
    display: inline-block;
    height: 15px;
    color: tabFontColor;
}

.ide-PartStack .ide-PartStack-Tab:hover {
    color: mainFontColor;
}

.ide-PartStack .ide-PartStack-Tab span {
    /* margin between text and image */
    margin-right: 6px;
    white-space: nowrap;
    font-size: 11px;
    line-height: 14px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.ide-PartStack .ide-PartStack-Tab img {
    /*vertical-align: bottom;*/
    vertical-align: middle;

}

.ide-PartStack .ide-PartStack-Tab .CloseButton {
    /* change cursor for close button */
    cursor: default;
    opacity: 0.5;
    vertical-align: middle;
}

.ide-PartStack .ide-PartStack-Tab .CloseButton:hover {
    /* hihglight on hover */
    opacity: 1;
}

.ide-PartStack .ide-PartStack-Tab-selected {
    /* tab that is currently selected (active) */
    cursor: default;
    border: 1px solid tabBorder;
    height: 16px;
    background: activeTabBackground;
    color: mainFontColor;
}

.ide-PartStack-focused {

}

.ide-PartStack-focused .ide-Base-Part-Toolbar {
    /*Toolbar that is currently selected(active)*/
}

.ide-PartStack-Boton-Left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    fill: toolbarIconColor;
    filter: svgUrlShadow;
    height: 18px;
    width: 18px;
    margin-left: -5px;
    margin-right: -5px;
}

.ide-PartStack-Tab-Left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    transform-origin: 9px 9px;
    -webkit-transform-origin: 9px 9px; /* Safari and Chrome */
    -moz-transform-origin: 9px 9px; /* Firefox */
    /*position: absolute;*/
    position: relative;
    border-right: none !important;
    border-left: 1px solid tabBorder;
    box-shadow: -1px -1px 0px 0px tabBorderShadow;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}

.ide-PartStack-Tab-Label {
    /* margin between text and image */
    margin-right: 4px;
    margin-left: 4px;
    text-shadow: 0px 1px 0px buttonTextShadow;
    position: relative;
    top: 14%;
    white-space: nowrap;
}

.ide-PartStack-Tab-Right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: 8px 9px;
    -webkit-transform-origin: 8px 9px; /* Safari and Chrome */
    -moz-transform-origin: 8px 9px; /* Firefox */
    position: relative;
    box-shadow: 1px -1px 0px 0px tabBorderShadow;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -1px;
    white-space: nowrap;
}

.ide-PartStack-Tab-Below {
    /* tab button */
    border-right: 1px solid tabBorder;
    box-shadow: 1px 1px 0px 0px tabBorderShadow;
    cursor: pointer;
    cursor: hand;
    position: relative;
    margin-top: -1px;
    padding-left: 15px;
    padding-right: 15px;
}

.ide-PartStack-Tool-Tab-selected {
    /* tab that is currently selected (active) */
    cursor: default;
    color: inherit !important;
}

.ide-PartStack-Content {
    background-color: partBackground;
    width: 100%;
    height: 100%;
}

.ide-Base-Part-Title-Label {
    display: inline-block;
    line-height: 22px;
    margin-left: 10px;
    vertical-align: middle;
}

.ide-PartStack-Tool-Tab {
    /* tab button */
    border-right: 1px solid tabBorder;
    cursor: pointer;
    cursor: hand;
    height: 18px;
    font-size: 11px;
    display: inline-block;
}

.ide-PartStack-Tool-Tab:hover {
    color: buttonHoverTextColor;
}

.ide-PartStack-Tab-Right-Button {
    margin-right: 6px;
    height: 16px;
    float: right;
}

.ide-PartStack-Tab-Button {
    margin-left: 3px;
    margin-top: 3px;
    background: inactiveTabBackground;
    border: 1px solid inactiveTabBorderColor;
    cursor: pointer;
    cursor: hand;
    position: relative;
    display: inline-block;
    height: 15px;
    padding: 3px;
}

.ide-PartStack-Tab-Button img {
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    display: block;
}

.ide-PartStack-Tab-Button:hover {
    border: 1px solid activeTabBorderColor !important;
    background-color: activeTabBackground !important;
}

.ide-PartStack-Tab-Button-selected {
    border: 1px solid activeTabBorderColor !important;
    background-color: activeTabBackground !important;
    border-bottom: none !important;
    height: 16px;
}

.ide-PartStack-Multiple-Tabs-Container {
    background-color: activeTabBackground;
    border: 1px solid activeTabBorderColor;
    border-top: none;
    padding: 6 0;
}

.ide-PartStack-Multiple-Tabs-Item {
    font-family: mainFontFamily;
    font-size: 11px;
    color: #d4d4d4;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    height: 18px;
    line-height: 18px;
    margin-bottom: 2px;
    padding: 0 sideBarHorizontalPadding;
    height: 18px;
    line-height: 18px;
    padding: 0 sideBarHorizontalPadding;
}

.ide-PartStack-Multiple-Tabs-Item:hover {
    background-color: selectionBackground;
    cursor: pointer;
    opacity: 0.5;
}

.ide-PartStack-Multiple-Tabs-Item .CloseButton {
    /* change cursor for close button */
    cursor: default;
    opacity: 0.5;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: 6px;
    float: right;
}

.ide-PartStack-Multiple-Tabs-Item .CloseButton:hover {
    /* hihglight on hover */
    opacity: 1;
}

.ide-Base-Part-Toolbar {
    background-color: partToolbar;
    border-bottom: 1px solid tabBorder;
    box-shadow: 0px 2px 5px 0px partToolbarShadow;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: secondaryTextFontSize;
    color: mainFontColor;
}

.ide-Base-Part-Toolbar-Bottom {
    background-color: partToolbar;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: boxFontSize;
    color: mainFontColor;
    font-weight: bold;
    width: 100%;
    line-height: 26px;
    vertical-align: middle;
}

.ide-Base-Part-Toolbar-Separator {
    border-top: 1px solid partToolbarSeparatorTopColor;
    background-color: partToolbarSeparatorBottomColor;
    height: 1px;
    width: 100%;
}

.ide-Base-Part-Toolbar-Bottom-Icon {
    fill: toolbarIconColor;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-left: 10px;
    margin-top: 4px;
    float: left;
}


