.notification-info{
   background: -webkit-linear-gradient(top, rgb(82, 96, 108) 0%, rgb(47, 59, 69) 99%, rgb(255, 255, 255) 100%);
   background: -ms-linear-gradient(top, rgb(82, 96, 108) 0%, rgb(47, 59, 69) 99%, rgb(255, 255, 255) 100%);
   background: -moz-linear-gradient(top, rgb(82, 96, 108) 0%, rgb(47, 59, 69) 99%, rgb(255, 255, 255) 100%);
   background: linear-gradient(to bottom, rgb(82, 96, 108) 0%, rgb(47, 59, 69) 99%, rgb(255, 255, 255) 100%);
   border-radius: 4px;
   color: #EFEFEF;
   min-height: 35px;
   min-width: 275px;
   max-width: 500px;
   padding: 5px;
   /*-moz-box-shadow: 0px 0px 10px 1px #52ade0;*/
   /*-webkit-box-shadow: 0px 0px 10px 1px #52ade0;*/
   /*box-shadow: 0px 0px 10px 1px #52ade0;*/
   /*border: 1px solid #000788;*/
}
.notification-message{
   /*background-image: linear-gradient(top, rgb(16,97,2) 24%, rgb(1,61,7) 100%);*/
   /*background-image: -o-linear-gradient(top, rgb(16,97,2) 24%, rgb(1,61,7) 100%);*/
   /*background-image: -moz-linear-gradient(top, rgb(16,97,2) 24%, rgb(1,61,7) 100%);*/
   /*background-image: -webkit-linear-gradient(top, rgb(16,97,2) 24%, rgb(1,61,7) 100%);*/
   /*background-image: -ms-linear-gradient(top, rgb(16,97,2) 24%, rgb(1,61,7) 100%);*/

   /*background-image: -webkit-gradient(*/
      /*linear,*/
      /*left top,*/
      /*left bottom,*/
      /*color-stop(0.24, rgb(16,97,2)),*/
      /*color-stop(1, rgb(1,61,7))*/
   /*);*/
   background: -moz-linear-gradient(bottom, #07ace1 11%, #3cc3ee 56%);
   background-image:-webkit-linear-gradient(bottom, #07ace1 11%, #3cc3ee 56%);
   background-image: linear-gradient(to bottom, #07ace1 11%, #3cc3ee 56%);
   /*background-color: rgb(16,97,2);*/
   border-radius: 4px;
   color: #EFEFEF;
   min-height: 35px;
   min-width: 275px;
   max-width: 500px;
   padding: 5px;
   /*-moz-box-shadow: 0px 0px 10px 1px #29691d;*/
   /*-webkit-box-shadow: 0px 0px 10px 1px #29691d;*/
   /*box-shadow: 0px 0px 10px 1px #29691d;*/
   /*border: 1px solid #003e03;*/
}