.notif {
   width: 300px;
   height: 60px;

   line-height: 18px;
   font-size: 12px;
   font-family: Myriad Pro, arial, Verdana, Verdana, sans-serif;

   color: rgba(204, 204, 204, 0.9);

   background: rgba(17, 17, 17, 0.48);

   /* Don't let the background bleed underneath our semi-transparent (rgba) border. */
   background-clip: padding-box;
   border: 1px solid;
   border-color: rgba(17, 17, 17, 0.6) rgba(17, 17, 17, 0.7) rgba(17, 17, 17, 0.9);
   border-radius: 5px;

   /* This is the original gradient on a transparent background:
    * rgba(#808080, .5) 0%, rgba(#111, .48) 50%, rgba(#111, .58) 50%, rgba(#111, .68) 100%
    * I had to adapt it for a different background color in order
    * to support browsers that don't support linear-gradient. */

   background-image: -webkit-linear-gradient(top, rgba(242, 242, 242, 0.3) 0%, rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3) 100%);
   background-image: -moz-linear-gradient(top, rgba(242, 242, 242, 0.3) 0%, rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3) 100%);
   background-image: -o-linear-gradient(top, rgba(242, 242, 242, 0.3) 0%, rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3) 100%);
   background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0.3) 0%, rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3) 100%);
   -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
   box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.notif .message {
   height: 40px;
   padding: 10px;
   position: absolute;
   width: 280px;
   /*display: table;*/

}

.message p {
   margin: 0;
   /*display: table-cell;*/
   vertical-align: middle;
   text-overflow: ellipsis;
   /*white-space: nowrap; *//* Запрещаем перенос строк */
   text-overflow: ellipsis;
   overflow: hidden;
}
.notif a {
   color: rgba(240, 240, 240, 1);
   text-decoration: none;
}
