/**********************************************************************************************
MENU BAR

style prefix: exo-menuBar-
***********************************************************************************************/

.exo-menuBarTable {
	margin-left: 2px;
}

.exo-menuBar,
.exo-menuBarItem,
.exo-menuBarItemOver,
.exo-menuBarItemSelected,
.exo-menuBarItemDisabled {
    height: 20px;
}

.exo-menuBarItem,
.exo-menuBarItemOver,
.exo-menuBarItemSelected,
.exo-menuBarItemDisabled {
    padding-left: 13px;
    padding-right: 13px;
    cursor: default;

    font-family: Verdana, Bitstream Vera Sans, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
}

.exo-menuBar {
    width: 100%;
    background-color: #404040;
}

.exo-menuBarItem {
    color: #FFFFFF;
}

.exo-menuBarItemOver {
    color: #FFFFFF;
    background-color: #707070;
}

.exo-menuBarItemSelected {
    background-color: #FFFFFF;
    color: #404040;
}

.exo-menuBarItemDisabled {
    color: #AAAAAA;
}
