<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2010 eXo Platform SAS.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->
<web-app>
   <display-name>IDE</display-name>
   <listener>
      <listener-class>org.exoplatform.ws.frameworks.servlet.StandaloneContainerInitializedListener</listener-class>
   </listener>


   <context-param>
   <param-name>guice-modules</param-name>
   <param-value>
      org.exoplatform.ide.extension.gadget.server.shindig.ExoIdeShellModule:
      org.apache.shindig.gadgets.DefaultGuiceModule:
      org.apache.shindig.social.sample.SampleModule:
      org.apache.shindig.gadgets.oauth.OAuthModule:
      org.apache.shindig.common.cache.ehcache.EhCacheModule:
      org.exoplatform.ide.extension.gadget.server.shindig.ExoIdeGuiceModule
    </param-value>
   </context-param>

   <listener>
    <listener-class>org.apache.shindig.common.servlet.GuiceServletContextListener</listener-class>
  </listener>

    <filter>
    <filter-name>SetCurrentIdentityFilter</filter-name>
    <filter-class>org.exoplatform.services.security.web.SetCurrentIdentityFilter</filter-class>
  </filter>

   <filter>
      <filter-name>ThreadLocalSessionProviderInitializedFilter</filter-name>
      <filter-class>org.exoplatform.frameworks.jcr.web.ThreadLocalSessionProviderInitializedFilter</filter-class>
   </filter>

   <filter>
      <filter-name>RestEncodingFilter</filter-name>
      <filter-class>org.exoplatform.services.rest.servlet.RestEncodingFilter</filter-class>
      <init-param>
         <param-name>REQUEST_ENCODING</param-name>
         <param-value>UTF-8</param-value>
      </init-param>
   </filter>

   <filter>
      <filter-name>MakeRequestHeaderFilter</filter-name>
      <filter-class>org.exoplatform.ide.extension.gadget.server.filter.MakeRequestHeaderFilter</filter-class>
   </filter> 
   
  <filter-mapping>                                                                                                                                                                                            
    <filter-name>SetCurrentIdentityFilter</filter-name>                                                                                                                                                        
    <url-pattern>/rest/*</url-pattern>                                                                                                                                                                         
  </filter-mapping>

   <filter-mapping>
      <filter-name>ThreadLocalSessionProviderInitializedFilter</filter-name>
      <url-pattern>/rest/*</url-pattern>
   </filter-mapping>

   <filter-mapping>
      <filter-name>MakeRequestHeaderFilter</filter-name>
      <url-pattern>/gadgets/makeRequest</url-pattern>
   </filter-mapping>


   <servlet>
      <servlet-name>RestServer</servlet-name>
      <description>eXo - Platform REST Server</description>
      <servlet-class>org.exoplatform.services.rest.servlet.RestServlet</servlet-class>
      <load-on-startup>4</load-on-startup>
   </servlet>

   <!-- Render a Gadget -->
   <servlet>
      <servlet-name>xml-to-html</servlet-name>
      <servlet-class>org.apache.shindig.gadgets.servlet.GadgetRenderingServlet</servlet-class>
   </servlet>

   <!-- Proxy -->
   <servlet>
      <servlet-name>proxy</servlet-name>
      <servlet-class>org.apache.shindig.gadgets.servlet.ProxyServlet</servlet-class>
   </servlet>

   <!-- makeRequest -->
   <servlet>
      <servlet-name>makeRequest</servlet-name>
      <servlet-class>org.apache.shindig.gadgets.servlet.MakeRequestServlet</servlet-class>
   </servlet>

   <!-- Concat -->
   <servlet>
      <servlet-name>concat</servlet-name>
      <servlet-class>org.apache.shindig.gadgets.servlet.ConcatProxyServlet</servlet-class>
   </servlet>

   <!-- OAuth callback -->
   <servlet>
      <servlet-name>oauthCallback</servlet-name>
      <servlet-class>org.apache.shindig.gadgets.servlet.OAuthCallbackServlet</servlet-class>
   </servlet>

   <!-- Metadata RPC -->
   <servlet>
      <servlet-name>metadata</servlet-name>
      <servlet-class>org.apache.shindig.gadgets.servlet.RpcServlet</servlet-class>
   </servlet>

   <!-- javascript serving -->
   <servlet>
      <servlet-name>js</servlet-name>
      <servlet-class>org.apache.shindig.gadgets.servlet.JsServlet</servlet-class>
   </servlet>

   <!-- Serve social REST api -->
   <servlet>
      <servlet-name>socialRestapiServlet</servlet-name>
      <servlet-class>org.apache.shindig.protocol.DataServiceServlet</servlet-class>
      <init-param>
         <param-name>handlers</param-name>
         <param-value>org.apache.shindig.social.handlers</param-value>
      </init-param>
   </servlet>

   <!-- Serve social RPC api -->
   <servlet>
      <servlet-name>socialJsonRpcServlet</servlet-name>
      <servlet-class>org.apache.shindig.protocol.JsonRpcServlet</servlet-class>
      <init-param>
         <param-name>handlers</param-name>
         <param-value>org.apache.shindig.social.handlers</param-value>
      </init-param>
   </servlet>

   <!-- Serve gadgets RPC api -->
   <servlet>
      <servlet-name>gadgetsJsonRpcServlet</servlet-name>
      <servlet-class>org.apache.shindig.protocol.JsonRpcServlet</servlet-class>
      <init-param>
         <param-name>handlers</param-name>
         <param-value>org.apache.shindig.gadgets.handlers</param-value>
      </init-param>
   </servlet>

   <servlet>
      <servlet-name>gadgetsRestapiServlet</servlet-name>
      <servlet-class>org.apache.shindig.protocol.DataServiceServlet</servlet-class>
      <init-param>
         <param-name>handlers</param-name>
         <param-value>org.apache.shindig.gadgets.handlers</param-value>
      </init-param>
   </servlet>

   <!-- Serve sample OAuth apis -->
   <servlet>
      <servlet-name>sampleOAuth</servlet-name>
      <servlet-class>org.apache.shindig.social.sample.oauth.SampleOAuthServlet</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>remoteLoggerServiceImpl</servlet-name>
      <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>remoteLoggerServiceImpl</servlet-name>
      <url-pattern>/IDE/gwt-log</url-pattern>
   </servlet-mapping>



   <servlet-mapping>
      <servlet-name>js</servlet-name>
      <url-pattern>/gadgets/js/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>proxy</servlet-name>
      <url-pattern>/gadgets/proxy/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>makeRequest</servlet-name>
      <url-pattern>/gadgets/makeRequest</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>gadgetsJsonRpcServlet</servlet-name>
      <url-pattern>/gadgets/api/rpc/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>gadgetsRestapiServlet</servlet-name>
      <url-pattern>/gadgets/api/rest/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>concat</servlet-name>
      <url-pattern>/gadgets/concat</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>oauthCallback</servlet-name>
      <url-pattern>/gadgets/oauthcallback</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>xml-to-html</servlet-name>
      <url-pattern>/gadgets/ifr</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>metadata</servlet-name>
      <url-pattern>/gadgets/metadata</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>socialRestapiServlet</servlet-name>
      <url-pattern>/social/rest/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>socialJsonRpcServlet</servlet-name>
      <url-pattern>/social/rpc/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>sampleOAuth</servlet-name>
      <url-pattern>/oauth/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>RestServer</servlet-name>
      <url-pattern>/rest/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>RestServer</servlet-name>
      <url-pattern>/rest/private/*</url-pattern>
   </servlet-mapping>

  <session-config>
  <session-timeout>30</session-timeout>
</session-config>


  <security-constraint>
    <web-resource-collection>
      <web-resource-name>IDE</web-resource-name>
      <url-pattern>/rest/private/*</url-pattern>
      <url-pattern>/Application.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>users</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint> 

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>exo-domain</realm-name>
    <form-login-config>
      <form-login-page>/login/login.jsp</form-login-page>
      <form-error-page>/login/error.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <security-role>
    <description>the user role</description>
    <role-name>users</role-name>
  </security-role>

</web-app>