<html>

<head>
    <link href="../showcase_style.css" type="text/css" rel="stylesheet">
</head>

<script type="text/javascript" src="toolbar.js"></script>
<script type="text/javascript" src="textinput.js"></script>

<body>


<div id="placeHolder"
     style="position: absolute; border-style: solid; border-width: 1px; border-color: #AAAAAA; left: 50px; top: 50px; width: 700px; height: 100px; background: #EFEFEF;">
    <div class="exoToolbarPanel">

        <div class="exoToolbarElementLeft">
            <div class="exoIconButtonPanelOver">
                <img class="exoIconButtonIcon" src="../../images/bundled/search.png"/>
            </div>
        </div>

        <div class="exoToolbarElementLeft">
            <div class="exoToolbarDelimiter"></div>
        </div>

        <div class="exoToolbarElementLeft">
            <div class="exoIconButtonPanelOver">
                <img class="exoIconButtonIcon" src="../../images/bundled/search.png"/>
            </div>
        </div>

    </div>
</div>

<!-- 
	<div id="toolbarTemplate" style="display: none;">
		<div id="{toolbarId}" class="exoToolbarPanel">
		</div>
	</div>
	
<script type="text/javascript">
	var toolbar = new Toolbar();
	toolbar.create("myToolbar", "placeHolder");
	
	var textInput1 = 	new TextInput();
	textInput1.create("myTextInput");
	toolbar.addLeft(textInput1);
	textInput1.setPressed();
	textInput1.setWidth("150px");
	
	var textInput2 = 	new TextInput();
	textInput2.create("myTextInput2");
	toolbar.addRight(textInput2);
	textInput2.setPressed();
	textInput2.setWidth("200px");
</script>

 -->

</body>

</html>
