/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A.
 */

.notificationItem {
    font-size: secondaryTextFontSize;
    font-family: mainFontFamily;
    border-bottom: 1px solid delimeterColor;
    height: 20px;
    vertical-align: middle;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.center {
    display: table;
    position: absolute;
}

.center p {
    display: table-cell;
    vertical-align: middle;
}

.notificationItem svg {
    width: 15px;
    height: 15px;
    margin: 2px 4px;
}

.notificationItem a, .notificationPopup a {
    color: linkColor;
}

.notificationPanel {
    cursor: pointer;
    padding-left: 2px;
}

.notificationPopup {
    border-radius: 1px !important;
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75);
    font-size: secondaryTextFontSize;
    color: buttonHoverTextColor;
    vertical-align: middle;
}

.closePopupIcon {
    fill: toolbarIconColor;
    margin: auto;
    width: 18px;
    height: 18px;
    opacity: 0.5;
}

.closePopupIcon:hover {
    opacity: 1;
}

.floatLeft {
    float: left;
}

.close {
    margin-top: 7px;
    opacity: 0.5;
}

.close:hover {
    opacity: 1;
}

.margin4px {
    margin: 4px;
}

.right25px {
    margin-right: 25px !important;
}

.error {
    color: errorEventColor !important;
    fill: errorEventColor !important;
}

.success {
    fill: successEventColor;
}

.warning {
    color: #cb772f !important;
    fill: #cb772f;
}

.unread {
    /*opacity: 0.7;*/
}

.countLabel {
    float: right;
    margin-top: 3px;
    margin-left: 3px;
    padding: 0px 3px;
    color: tabBorder;
    background-color: mainFontColor;
    line-height: 11px;
    vertical-align: middle;
    font-weight: bold;
    font-size: smallFontSize;
}

.notificationMessage > svg {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 3px;
}

.progress {
    margin: auto;
    display: block;
    padding: inherit;
    fill: progressColor;
}

.progress path {
    opacity: 0.2;
    -webkit-animation: path 0.8s infinite;
    animation: path 0.8s infinite;
}

.progress > g > g > path {
    -webkit-animation-delay: 0.06s;
    animation-delay: 0.06s;
}

.progress > g > g > g > path {
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
}

.progress > g > g > g > g > path {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.progress > g > g > g > g > g > path {
    -webkit-animation-delay: 0.27s;
    animation-delay: 0.27s;
}

.progress > g > g > g > g > g > g > path {
    -webkit-animation-delay: 0.33s;
    animation-delay: 0.33s;
}

.progress > g > g > g > g > g > g > g > path {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.progress > g > g > g > g > g > g > g > g > path {
    -webkit-animation-delay: 0.46s;
    animation-delay: 0.46s;
}

.progress > g > g > g > g > g > g > g > g > g > path {
    -webkit-animation-delay: 0.53s;
    animation-delay: 0.53s;
}

.progress > g > g > g > g > g > g > g > g > g > g > path {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.progress > g > g > g > g > g > g > g > g > g > g > g > path {
    -webkit-animation-delay: 0.67s;
    animation-delay: 0.67s;
}

.progress > g > g > g > g > g > g > g > g > g > g > g > g > path {
    -webkit-animation-delay: 0.73s;
    animation-delay: 0.73s;
}

@-webkit-keyframes path {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes path {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
